<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left>
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Rounds</ion-title>
	</ion-navbar>

</ion-header>

<ion-content no-bounce>
 
		<ion-list no-lines>

			<ion-item-divider color="archers-light-blue">
				Rounds <ion-badge color="archers-heading">{{ rounds?.length }}</ion-badge>
				<button ion-button item-right clear color="dark" (click)="CreateRound()">Add</button>
			</ion-item-divider>
	
			<ion-item *ngIf="rounds?.length==1">
				<note [message]="'None available'"></note>
			</ion-item>
	
			<ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
				<ion-item-sliding #slidingItem *ngFor="let round of rounds">
					<button ion-item (click)="UpdateRound(round)" color="{{round?.targets.length == 0?'archers-danger':''}}">        
						{{round?.name}}
						<p *ngIf="round?.targets.length == 0"><b><small>Not usable until targets added!</small></b></p>
					</button>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="DeleteRound(slidingItem, round)">Delete</button>
					</ion-item-options> 
				</ion-item-sliding>
			</ion-item-group>
			
		</ion-list>
 
</ion-content>