<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left *ngIf="!isModal">
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="!isModal">Rounds</ion-title>
		<ion-title *ngIf="isModal">Select a Round</ion-title>
	</ion-navbar>

	<ion-toolbar>
		<ion-segment color="archers-heading" [(ngModel)]="selectedType">
			<ion-segment-button value="standard">Standard</ion-segment-button>
			<ion-segment-button value="custom">Custom</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

</ion-header>

<ion-content no-bounce>
 
		<ion-list no-lines>

			<ion-item-divider color="archers-light-blue">
				Rounds <ion-badge color="archers-heading">{{ rounds | roundTypeCount:selectedType}}</ion-badge>
				<button ion-button item-right clear color="dark" (click)="CreateRound()" *ngIf="!isModal">Add</button>
			</ion-item-divider>
	
			<ion-item *ngIf="rounds?.length==1">
				<note [message]="'None available'"></note>
			</ion-item>
	
			<ion-item-group *ngFor="let organisation of ( rounds | roundOrganisation:selectedType ); let i_o = index">
				<ion-item-group *ngFor="let season of ( rounds | roundSeason:selectedType:organisation ); let i_s = index">
			
					<ion-item-divider color="archers-faint-blue" (click)="ShowSeason(organisation, season);">
						<strong *ngIf="selectedType!='Custom'">{{ organisation | properCase }} </strong><strong>{{ season | properCase }}</strong>
					</ion-item-divider>
			
					<div *ngIf="isModal">
						<ion-item *ngFor="let round of ( rounds | round:selectedType:organisation:season )" reorder="true" (ionItemReorder)="reorderItems($event)">
							<button ion-item (click)="SelectRound(round)" (press)="info(round)" color="{{round?.targets.length == 0?'archers-light-danger':''}}">        
								{{ round.name }}
							</button>
						</ion-item>
					</div>

					<div *ngIf="!isModal">
						<ion-item-sliding #slidingItem *ngFor="let round of ( rounds | round:selectedType:organisation:season )" reorder="true" (ionItemReorder)="reorderItems($event)">
							<button ion-item (click)="UpdateRound(round)" (press)="info(round)" color="{{round?.targets.length == 0?'archers-light-danger':''}}">        
								{{ round.name }}
							</button>
							<ion-item-options side="right">
								<button ion-button color="danger" (click)="DeleteRound(slidingItem, round)"><ion-icon name="trash"></ion-icon>Delete</button>
							</ion-item-options> 
						</ion-item-sliding>
					</div>

				</ion-item-group>
			</ion-item-group>
			
		</ion-list>
 
</ion-content>