<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left>
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{ isNew ? 'Add ' : '' }}Shooter</ion-title>
		<ion-buttons right>
			<button ion-button *ngIf="isEditMode" (click)="Save()">Save</button>
			<button ion-button *ngIf="!isEditMode" (click)="Edit()">Edit</button>
		</ion-buttons>
	</ion-navbar>
  
  </ion-header>

<ion-content>

	<ion-list no-lines *ngIf="!isEditMode">
		<field [label]="'Name'" [value]="shooter.name"></field>
		<field [label]="'Initials'" [value]="shooter.initials"></field>
		<field [label]="'Gender'" [value]="shooter.gender"></field>
		<field [label]="'Age'" [value]="shooter.age"></field>		

		<ion-item-divider color="archers-light-blue">
			Shooter Bows 
			<ion-badge color="archers-heading">{{ shooter.bows?.length == 0 ? 0 : shooter.bows?.length }}</ion-badge>
			<button ion-button item-right clear color="dark" (click)="AddShooterBow()" *ngIf="showButtonAdd">Add</button>
		</ion-item-divider>

		<ion-item *ngIf="shooter.bows?.length==0">
			<note [message]="'None available'"></note>
		</ion-item>

		<ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
			<ion-item-sliding #slidingItem *ngFor="let bow of shooter.bows">
				<button ion-item (click)="UpdateShooterBow(bow);">
						{{ bow.name }}<p><small>Sight Marks {{ bow.sightMarks?.length }}</small></p>
				</button>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="DeleteShooterBow(slidingItem, bow)">Delete</button>
				</ion-item-options> 
			</ion-item-sliding>
		</ion-item-group>

	</ion-list>

	<ion-list no-lines *ngIf="isEditMode">
		
		<form [formGroup]="formValidation">

			<ion-item>
				<ion-label fixed>Name</ion-label>
				<ion-input type="text" maxlength="30" [(ngModel)]="shooter.name" placeholder="Joe Public" [formControl]="formValidation.controls['name']" [ngClass]="{'validator-error': !formValidation.controls.name.valid && formValidation.controls.name.dirty}"></ion-input>
			</ion-item>
			<help text="Between 2 and 30 characters."></help>
			
			<ion-item>
				<ion-label fixed>Initials</ion-label>
				<ion-input type="text" maxlength="3" [(ngModel)]="shooter.initials" placeholder="JP1" [formControl]="formValidation.controls['initials']" [ngClass]="{'validator-error': !formValidation.controls.initials.valid && formValidation.controls.initials.dirty}"></ion-input>				
			</ion-item>
			<help text="Between 2 and 3 characters."></help>

			<ion-item>
				<ion-label fixed>Gender</ion-label>
				<ion-select [(ngModel)]="shooter.gender" [ngModelOptions]="{standalone: true}" interface="popover">
					<ion-option value="male" selected>Male</ion-option>
					<ion-option value="female">Female</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label fixed>Age</ion-label>
				<ion-input type="number" [(ngModel)]="shooter.age" maxlength="2" placeholder="25" [formControl]="formValidation.controls['age']" [ngClass]="{'validator-error': !formValidation.controls.age.valid && formValidation.controls.age.dirty}"></ion-input>				
			</ion-item>

		</form>

	</ion-list>

</ion-content>
