<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
	<ion-buttons left>
		<button ion-button icon-only (click)="Back()">
			<ion-icon name="ios-arrow-back"></ion-icon>
		</button>
	</ion-buttons>
	<ion-title>Statistics</ion-title>
	</ion-navbar>
	
</ion-header>
	
<ion-content no-bounce>

	<div *ngFor="let round of dataByRound">
		<ion-item-divider color="archers-light-blue" (click)="ShowSection(round.name);">
			Round: {{ round.name }}
			<ion-icon *ngIf="showSection == round.name" float-right name="ios-arrow-down"></ion-icon>
			<ion-icon *ngIf="showSection != round.name" float-right name="ios-arrow-up"></ion-icon>
		</ion-item-divider>
		<div *ngIf="showSection == round.name">
			<h6 style="padding-left:8px;">Best shooter is {{ round.shooter.name }} with {{ round.shooter.score.total_rt }}</h6>
			<div *ngFor="let shooter of round.data">
				<h6 class="shooter">{{ shooter.name }}<span float-right>Avg: {{ shooter.avg }} </span></h6>
				<ion-grid>
					<ion-row>
						<ion-col col-2 *ngFor="let sc of shooter.scores" [class.best]="sc.isBest" [class.worst]="sc.isWorst" style="text-align:center; margin-right:10px; margin-bottom:5px; padding:3px; border:1px solid #c4c4c4;">
							{{ sc.score }}
						</ion-col>
					</ion-row>
				</ion-grid>
				
			</div>
		</div>
	</div>
	

</ion-content>