<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left>
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Settings</ion-title>
	</ion-navbar>

</ion-header>

<ion-content no-bounce>
 
	<ion-list no-lines>

		<ion-item-divider color="archers-light-blue">My Profile</ion-item-divider>

		<button ion-item (click)="editShooter(shooter)">        
			<shooter [shooter]="shooter"></shooter>
		</button>

		<ion-item-divider color="archers-light-blue">
			Other Shooters
			<button ion-button item-right clear color="dark" (click)="addShooter()">Add</button>
		</ion-item-divider>

		<ion-item *ngIf="shooters?.length==1">
			<note [message]="'None available'"></note>
		</ion-item>

		<button ion-item (click)="editShooter(shooter)" *ngFor="let shooter of shooters | ShooterNotDefault">        
			<shooter [shooter]="shooter"></shooter>
		</button>

	</ion-list>
 
</ion-content>
