<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left>
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Bows</ion-title>
	</ion-navbar>

</ion-header>

<ion-content no-bounce>
 
	<ion-list no-lines>

		<ion-item-divider color="archers-light-blue">
			Bows <ion-badge color="archers-heading">{{ bows?.length }}</ion-badge>
			<button ion-button item-right clear color="dark" (click)="CreateBow()">Add</button>
		</ion-item-divider>

		<ion-item *ngIf="bows?.length==1">
			<note [message]="'None available'"></note>
		</ion-item>

		<ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
			<ion-item-sliding #slidingItem *ngFor="let bow of bows">
				<button ion-item (click)="UpdateBow(bow)">        
					{{bow?.name}}
				</button>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="DeleteBow(slidingItem, bow)">Delete</button>
				</ion-item-options> 
			</ion-item-sliding>
		</ion-item-group>
		
	</ion-list>
 
</ion-content>