<ion-header>

	<ion-navbar color="archers-heading" hideBackButton>
		<ion-buttons left>
			<button ion-button icon-only (click)="Back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Score Card</ion-title>
		<ion-buttons right>
			<button ion-button icon-only clear (click)="ChangeShooter($event)"><ion-icon name="man"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar text-center *ngIf="maxShooters > 0">
		<button ion-button clear (click)="prev()" *ngIf="shooter_p.initials != shooter_n.initials">
			{{ shooter_p.initials }} <ion-icon name="md-arrow-back"></ion-icon>
		</button>
		<button ion-button outline>{{ shooter.initials }}</button>
		<button ion-button clear (click)="next()">
			<ion-icon name="md-arrow-forward"></ion-icon> {{ shooter_n.initials }}
		</button>
	</ion-toolbar>

</ion-header>

<ion-content no-bounce>

	<ion-list no-lines>

		<div *ngFor="let target of scoreCard.round?.targets; let t = index">

			<ion-item-divider color="archers-light-blue">
				Target {{ t + 1 }} <span style="color:#eeeeee; font-size:75%;">({{ target.distance }} {{ scoreCard.round.distance }}, {{ target.size }}{{ scoreCard.round.unit }})</span>
			</ion-item-divider>

			<div class="card" (click)="EnterScore(target)">
				<ion-item class="tbl-heading">
					<ion-grid>
						<ion-row>
								<ion-col>End</ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col>E.T.</ion-col>
								<ion-col>R.T.</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>

				<ion-item class="tbl-scores" *ngFor="let end of ( target.ends | numberInc ); let e = index" (press)="EditScore(target, e)">
					<ion-grid>
						<ion-row>
							<ion-col class="bgcolor-heading bdr">{{ e + 1}}</ion-col>
							<ion-col [ngClass]="{'bdr':scoreCard.round.arrows>=(a+1)}" *ngFor="let arrow of ( 6 | numberInc ); let a = index">{{ a>shooter.score.targets[t].ends[e].end.length-1?'':shooter.score.targets[t].ends[e].end[a] }}</ion-col>
							<ion-col class="bgcolor-heading tr bdr">{{ a>shooter.score.targets[t].ends[e].end.length-1?'':shooter.score.targets[t].ends[e].total_et }}</ion-col>
							<ion-col class="bgcolor-heading tr bdr">{{ a>shooter.score.targets[t].ends[e].end.length-1?'':shooter.score.targets[t].ends[e].total_rt }}</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>	

				<ion-item class="end-total">
					<ion-grid>
						<ion-row>
							<ion-col>&nbsp;</ion-col>
							<ion-col></ion-col>
							<ion-col></ion-col>
							<ion-col></ion-col>
							<ion-col></ion-col>
							<ion-col></ion-col>
							<ion-col></ion-col>
							<ion-col class="bgcolor-heading bdr tr">{{ shooter.score.targets[t].total_et }}</ion-col>
							<ion-col class="bgcolor-heading bdr tr">{{ shooter.score.targets[t].total_rt }}</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>	

				<ion-item class="end-stats">
					<ion-grid>
						<ion-row>
							<ion-col class=""></ion-col>
							<ion-col class=""></ion-col>
							<ion-col class=""></ion-col>
							<ion-col class="bdr">Hits</ion-col>
							<ion-col class="bdr">Avg</ion-col>
							<ion-col class="bdr">Xs</ion-col>
							<ion-col class="bdr">10s</ion-col>
							<ion-col class="bdr">9s</ion-col>
							<ion-col class="bdr">Ms</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="">&nbsp;</ion-col>
							<ion-col class=""></ion-col>
							<ion-col class=""></ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].statHits }}</ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].statAvg }}</ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].statXs }}</ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].stat10s }}</ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].stat9s }}</ion-col>
							<ion-col class="bdr">{{ shooter.score.targets[t].statMs }}</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>	
				
			</div>
			
		</div>

		<ion-item class="end-stats">
			<ion-grid>
				<ion-row>
					<ion-col class=""></ion-col>
					<ion-col class=""></ion-col>
					<ion-col class=""></ion-col>
					<ion-col class="bdr">Hits</ion-col>
					<ion-col class="bdr">Avg</ion-col>
					<ion-col class="bdr">Xs</ion-col>
					<ion-col class="bdr">10s</ion-col>
					<ion-col class="bdr">9s</ion-col>
					<ion-col class="bdr">Ms</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="">&nbsp;</ion-col>
					<ion-col class=""></ion-col>
					<ion-col class=""></ion-col>
					<ion-col class="bdr">{{ shooter.score.statHits }}</ion-col>
					<ion-col class="bdr">{{ shooter.score.statAvg }}</ion-col>
					<ion-col class="bdr">{{ shooter.score.statXs }}</ion-col>
					<ion-col class="bdr">{{ shooter.score.stat10s }}</ion-col>
					<ion-col class="bdr">{{ shooter.score.stat9s }}</ion-col>
					<ion-col class="bdr">{{ shooter.score.statMs }}</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>	

	</ion-list>

</ion-content>